body {
  background-color: green;
}

header {
  background-color: blue;
}

.header {
  font-size: 50px;
  text-align: center;
  color: white;
}

.display-number {
  font-size: 30px;
  background-color: red;
  text-align: center;
}

.display-talley {
  font-size: 30px;
  background-color: white;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 80%;
}
