body {
  background-color: green;
}

header {
  border-radius: 10px;
  background-color: blue;
}

li {
  list-style: none;
}

.header {
  font-size: 50px;
  text-align: center;
  color: white;
}

.display-number {
  font-size: 30px;
  background-color: red;
  border-radius: 10px;
  text-align: center;
}

.display-talley {
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  max-height: 230px;
  overflow: scroll;
}

.button-wrapper {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 80%;
}

.hide-display {
  display: none;
}
